body {
    width: 320px;
}
.header {
    width: 320px;
    height: 88px;
}
.button {
width: 40px;
height: 40px;
border-radius: 20px;
background: #ff3e79;
margin-top: 24px;
}
.button-burger {
    margin-left: 16px;
}
.button-repair {
    margin-left: 208px;
    position: absolute;
    left: 82.5%;
    right: 5%;
    top: 4.02%;
    bottom: 89.28%;
}
.button-checkstatus {
    margin-left: 264px;
    position: absolute;
    left: 65%;
    right: 22.5%;
    top: 4.02%;
    bottom: 89.28%;
}