.body {
    width: 320px;
    height: 597px;
    background-color: #f8f8f8;
    border: solid;
}
.header {
    width: 320px;
    height: 88px;
    background-color:#ffffff;
}
.header-menu {
display: flex;
}
.button {
width: 40px;
height: 40px;
border-radius: 20px;
margin-top: 24px;
margin-bottom: 24px;
background-color: #ff3e79;
}

.button-burger {
    margin-left: 16px;
    background-image: url("img/icon1.png");
    background-repeat: no-repeat;
    background-position: center;
}
.button-repair {
    margin-left: 152px;
    background-image: url("img/icon.png");
    background-repeat: no-repeat;
    background-position: center;
}
.header-logo {
    background-image: url("img/Group1.png");
    background-repeat: no-repeat;
    background-position: center;
}
.button-checkstatus {
    margin-left: 16px;
    background-image: url("img/Group.png");
    background-repeat: no-repeat;
    background-position: center;
}
.text {
margin-left: 16px;
margin-right: 16px;
margin-bottom: 56px;
}