body {
    width: 320px;
}
.header {
    width: 320px;
    height: 88px;
}
.header-menu {
display: flex;
}
.button {
width: 40px;
height: 40px;
border-radius: 20px;
margin-top: 24px;
background-color: #ff3e79;
}

.button-burger {
    margin-left: 16px;
    background-image: url(icon1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.button-repair {
    margin-left: 152px;
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.button-checkstatus {
    margin-left: 16px;
    background-image: url(Group.png);
    background-repeat: no-repeat;
    background-position: center;
}
.text {
margin-left: 16px;
margin-right: 16px;
}